create-work-popover {
    .create_work_po {
        width: 11.5rem;
        border-radius: .333333rem;
        color: #fff;
        font-size: 1.333333em;
        position: relative;
        text-align: center
    }
}