create-work-popover {
    .create_work_po {
        width: 11.5rem;
        border-radius: .333333rem;
        color: #fff;
        font-size: 1.333333em;
        position: relative;
        text-align: center;
        p{
            margin: 0 1.25rem;
            padding:.833333rem 0;
            border-bottom: 0.55px solid rgba(204,204,204,0.7);
        }
        p:last-child{
            border-bottom: none;
        }
    }
}