<!--
  Generated template for the ShiwuDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>详情</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]='segment'>
      <ion-segment-button value="dymanic">
        动态
      </ion-segment-button>
      <ion-segment-button value="detail">
        事务详情
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div [ngSwitch]='segment'>
    <div *ngSwitchCase='"dymanic"'>
      <footer-input></footer-input>
    </div>
    <div *ngSwitchCase='"detail"'>
      <form [formGroup]='form' >
        <ion-list>
          <ion-item *ngIf='data?.name'>
            <ion-label>
              <p>名称</p>
            </ion-label>
            <span class="content-item" item-content>{{data.name}}</span>
            <span class="status_btn" item-end>{{data.status==1?'进行中':'完成'}}</span>
          </ion-item>
          <ion-item *ngIf='data?.remark'>
            <ion-label>
              <p>描述</p>
            </ion-label>
            <ion-input formControlName='remark' value={{data.remark}}></ion-input>
          </ion-item>
          
          <fujian-formcontrol formControlName='attach'></fujian-formcontrol>

          
            <ion-item *ngFor="let pic of attach; let i=index">
              <ion-label>
                <img  item-end src={{pic}} alt="">
              </ion-label>
              <img class="add" item-end src="assets/imgs/work-desk/download.png" (click)='attachDel(i)' alt="">
            </ion-item>
   

            <initalmember-formcontrol  [person]='data?.initatorEmp' [addIf]='false'></initalmember-formcontrol>
            <initalmember-formcontrol formControlName='zhubanren' [person]='data?.mainPersonEmp' title='主办人'></initalmember-formcontrol>
         

          <ion-item *ngIf='data?.startDate'>
            <ion-label>起始时间</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" placeholder={{data.startDate}} ></ion-datetime>
            <img class="add" item-end src="assets/imgs/work-desk/icon_date.png" alt="">
          </ion-item>
          <ion-item *ngIf='data?.endDate'>
            <ion-label>截止时间</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" placeholder={{data.endDate}} ></ion-datetime>
            <img class="add" item-end src="assets/imgs/work-desk/icon_date.png" alt="">
          </ion-item>
          <ion-item *ngIf='month'>
            <ion-label>截止时间</ion-label>
            <ion-datetime displayFormat="YYYY-MM" placeholder={{month}} ></ion-datetime>
            <img class="add" item-end src="assets/imgs/work-desk/icon_date.png" alt="">
          </ion-item>
          <ion-item>
            <ion-range formControlName='progress' [(ngModel)]='progress'>
              <ion-label range-left small>进度</ion-label>
              <ion-label range-right small>
                <span>{{progress}}%</span>
                <span>偏慢</span>
              </ion-label>
            </ion-range>
          </ion-item>
          <!-- <ion-item *ngIf='data.count'>
          <ion-label>天数</ion-label>
          <span item-end>{{data.count}}</span>
        </ion-item>
        <ion-item *ngIf='data.money'>
          <ion-label>金额</ion-label>
          <span item-end>{{data.money}}</span>
        </ion-item>
        <ion-item>
          <ion-range [(ngModel)]="saturation">
            <ion-label small range-left>进度</ion-label>
            <ion-label small range-right>{{saturation}}% 偏慢</ion-label>
          </ion-range>
        </ion-item>
        <ion-item style="margin-top: 10px">
          <ion-label>
            成果&检查项
          </ion-label>
          <img item-end class="add" src="assets/imgs/work-desk/add.png" alt="">
        </ion-item>
        <ion-item-sliding>
          <ion-item>
            <ion-label>
              <img class="add" item-end src="assets/imgs/work-desk/icon_document.png" alt="">
            </ion-label>
            <div item-content>
              <p>初步文档</p>
              <ion-label>2015-06-01 15:05:07</ion-label>
            </div>
            <img class="add" item-end src="assets/imgs/work-desk/download.png" alt="">
          </ion-item>
          <ion-item-options>
            <button ion-button color="danger" (click)="archive()">删除</button>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item style="margin-top: 10px">
          <ion-label>
            子事务
          </ion-label>
          <img item-end class="add" src="assets/imgs/work-desk/add.png" alt="">
        </ion-item>
        <ion-item-sliding>
          <ion-item style="border:none">
            <ion-label>
              <span>需求分析</span>
              <p class="">
                <span>小芳</span>
                <span>剩余7天</span>
                <span>已完成90%</span>
              </p>
            </ion-label>
          </ion-item>
          <ion-item-options>
            <button ion-button color="danger" (click)="archive()">删除</button>
          </ion-item-options>
        </ion-item-sliding> -->
        </ion-list>
        <button ion-button class="submitBtn" *ngIf='mainPersonIf'  full style="margin:0" (click)='onSubmit(form, $event,3)'>提交审核</button>
        <div class="footer_shenpi" *ngIf='initatorIf'>
          <div class="footer_item" (click)='onSubmit(form, $event,2)'>
            暂停
          </div>
          <div class="footer_item" (click)='onSubmit(form, $event,4)'>
            打回
          </div>
          <div class="footer_item" (click)='onSubmit(form, $event,5)'>
            关闭
          </div>
          
        </div>
      </form>
    </div>
  </div>
</ion-content>
