page-change-name {
    .complete {
        font-size: 1.6rem;
        font-weight: 600
    }
    .name_item {
        margin-top: .833333rem;
        height: 4.166667rem;
        display: flex;
        padding: 0 1.25rem;
        justify-content: space-between;
        background-color: #fff;
        align-items: center;
        font-size: 1.25rem
    }
    .close {
        color: #b2b2b2;
        font-size: 1.666667rem
    }
}