get-vercode {
    .getCode {
        height: 2.416667rem;
        color: #fff;
        background-color: #29b4ff;
        border-radius: .333333rem;
        padding: 0 .833333rem;
        line-height: 2.416667rem;
    }
}