<!-- Generated template for the SelectModalComponent component -->
<ion-header>

    <ion-navbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">返回</button>
        </ion-buttons>
        <ion-title>审批类型</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="type_title" padding (click)='showList("jiaqin_show")'>
        <ion-icon class="arrow" [style.transform]="jiaqin_show?'rotate(90deg)':''" name="arrow-forward"></ion-icon>
        <span>假勤类</span>
    </div>
    <ion-list *ngIf='jiaqin_show'>
        <ion-item (click)='selecttype("事假",1,1)'>
            <ion-label>
                事假
            </ion-label>
        </ion-item>
        <ion-item (click)='selecttype("病假",1,2)'>
            <ion-label>
                病假
            </ion-label>
        </ion-item>
        <ion-item (click)='selecttype("休假",1,3)'>
            <ion-label>
                休假
            </ion-label>
        </ion-item>
        <ion-item (click)='selecttype("外勤",1,4)'>
            <ion-label>
                外勤
            </ion-label>
        </ion-item>
    </ion-list>
    <div class="type_title" padding (click)='showList("jiekuan_show")'>
        <ion-icon class="arrow" [style.transform]="jiekuan_show?'rotate(90deg)':''" name="arrow-forward"></ion-icon>
        <span>借款类</span>
    </div>
    <ion-list *ngIf='jiekuan_show'>
        <ion-item (click)='selecttype("备用金",2,2)'>
            <ion-label>
                备用金
            </ion-label>
        </ion-item>
        <ion-item (click)='selecttype("借款",2,1)'>
            <ion-label>
                借款
            </ion-label>
        </ion-item>
    </ion-list>
    <div class="type_title" padding (click)='showList("baoxiao_show")'>
        <ion-icon class="arrow" [style.transform]="baoxiao_show?'rotate(90deg)':''" name="arrow-forward"></ion-icon>
        <span>报销类</span>
    </div>
    <ion-list *ngIf='baoxiao_show'>
        <ion-item (click)='selecttype("报销",3,1)'>
            <ion-label>
                报销
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>