shenpi-popver {
  .work_home_po {
    width: 11.5rem;
    height: 4.166667rem;
    background-color: #16233a;
    border-radius: .333333rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.333333em;
    position: relative;
}
img {
    width: 1.75rem;
    margin-right: .833333rem
}
}
