<!--
  Generated template for the PlanzDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar >
       
      <ion-title>详情</ion-title>
      <ion-buttons end>
        <button ion-button (click)='onSubmit(form, $event)' >保存</button>
      </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
      <ion-segment [(ngModel)]='segment'>
        <ion-segment-button value="dymanic">
          动态
        </ion-segment-button>
        <ion-segment-button value="detail">
          周计划详情
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content class='hasfooter'>
      <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]='enabled'>
          <ion-refresher-content
            refreshingSpinner="circles"
          >
          </ion-refresher-content>
        </ion-refresher>
    <div [ngSwitch]='segment'>
      <div *ngSwitchCase='"dymanic"' #dymanic padding>
          <div class="chat_item" *ngFor="let item of chatList">
              <avatar *ngIf='!item?.initatorEmp?.photo' name={{item?.initatorEmp?.name}}></avatar>
              <img class="head" *ngIf='item?.initatorEmp?.photo' src={{item?.initatorEmp?.photo}} alt="">
              <div *ngIf='!item?.attach' class="chat_content">{{item?.contents}}</div>
              <div *ngIf='item?.attach' class="chat_content_img">
                <img src="{{item?.attach}}" alt="">  
              </div>
            </div>
      </div>
      <div *ngSwitchCase='"detail"'>
        <form [formGroup]='form' >
          <ion-list>
            <ion-item *ngIf='data?.name'>
              <ion-label>
                <p>名称</p>
              </ion-label>
              <span class="content-item" item-content>{{data.name}}</span>
              <span class="status_btn" item-end>{{data.status==1?'进行中':'完成'}}</span>
            </ion-item>
            <ion-item *ngIf='data?.remark'>
              <ion-label>
                <p>描述</p>
              </ion-label>
              <ion-textarea class="textarea" formControlName='remark' ></ion-textarea>
            </ion-item>
            
            <fujian-formcontrol formControlName='attach'></fujian-formcontrol>
  
            
              <ion-item *ngFor="let pic of attach; let i=index">
                <ion-label>
                  <img class="attach_img"  item-end src={{pic}} alt="">
                </ion-label>
                <img class="add" item-end src="assets/imgs/work-desk/download.png" (click)='attachDel(i)' alt="">
              </ion-item>
     
  
  
            <ion-item *ngIf='data?.mainPersonEmp'>
              <ion-label item-start>执行人</ion-label>
              <avatar item-content name={{data.mainPersonEmp.name}}></avatar>
              <p item-content>{{data.mainPersonEmp.name}}</p>
            </ion-item>
  
            <ion-item *ngIf='data?.startDate'>
              <ion-label>起始时间</ion-label>
              <span style='margin-left:15px' item-content>{{data.startDate}}</span>
              <img class="add" item-end src="assets/imgs/work-desk/icon_date.png" alt="">
            </ion-item>
            <ion-item *ngIf='data?.endDate'>
              <ion-label>截止时间</ion-label>
              <span style='margin-left:15px' item-content>{{data.endDate}}</span>
              <img class="add" item-end src="assets/imgs/work-desk/icon_date.png" alt="">
            </ion-item>
            
            <ion-item>
              <ion-range formControlName='progress' [(ngModel)]='progress'>
                <ion-label range-left small>进度</ion-label>
                <ion-label range-right small>
                  <span>{{progress}}%</span>
                  <span>偏慢</span>
                </ion-label>
              </ion-range>
            </ion-item>
          </ion-list>
         
          <div class="work_divier" style='margin-top:10px'>
              <span>成果&检查项</span>
              <img item-end class="add" src="assets/imgs/work-desk/add.png" (click)='createrequire()' alt="">
            </div>
            <ion-list>
                <ion-item-sliding *ngFor="let item of requireList; let i=index">
                  
                  <ion-item class="reuire_list">
                    <p class="reuire_title">{{item.name}}</p>
                    <div class="reuire_content" *ngIf='item.attachName'>
                        
                            <img class="add" src="assets/imgs/work-desk/icon_document.png" alt="">
                      
                          <div>
                              <span>{{item.attachName}}</span>
                              <span>{{item.updateTime}}</span>
                          </div>
                    </div>
                  </ion-item>
                 
                  <ion-item-options side="right">
                    <button ion-button color="danger" (click)="delRequire(item.id,index)">删除</button>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-list>

          <div class="work_divier" style='margin-top:10px'>
            <span>子事务</span>
            <img item-end class="add" src="assets/imgs/work-desk/add.png" (click)='createzishiwu()' alt="">
          </div>
          <ion-list >
              <ion-item-sliding *ngFor="let item of zishiwuList; let i=index">
                  <ion-item style="border:none">
                    <ion-label>
                      <span>{{item?.name}}</span>
                      <p class="item_sliding_p">
                        <span>{{item?.mainPersonEmp?.name}}</span>
                        <span>剩余{{item?.surplusDays}}天</span>
                        <span>已完成{{item?.progress}}%</span>
                      </p>
                    </ion-label>
                  </ion-item>
                  <ion-item-options side="right">
                    <button ion-button color="danger" (click)="del(item.id,i)">删除</button>
                  </ion-item-options>
                </ion-item-sliding> 
          </ion-list>
          
          
        </form>
      </div>
    </div>
  </ion-content>
  <ion-footer *ngIf='segment=="detail"'>
      <button ion-button type="button" class="submitBtn" (click)='endPlanz()' full style="margin:0">关闭</button>
  </ion-footer>
  
  <ion-footer *ngIf='segment=="dymanic"'>
      <form [formGroup]='form2' (submit)='ngSubmit(form2)'>
          <footer-input formControlName='submitContent'></footer-input>
      </form>
    </ion-footer>
