page-planz-detail {
  .status_btn {
    width: 4.583333rem;
    line-height: 1.833333rem;
    border-radius: .25rem;
    color: #32b16c;
    border: 1px solid #32b16c;
    text-align: center
}
.add {
    width: 1.75rem
}
.item_sliding_p>span{
    margin-right: 1.25rem
}
ion-item{
    .content-item{
        margin-left: .833333rem
    }
}
.submitBtn{
    position: fixed;
    left: 0;
    bottom: 0;
}
}
