<!-- Generated template for the FixTopComponent component -->
<section class="work_fix_top">
    <div class="type"   (click)='fixClick(0)' *ngIf='workArray' [class.checked]='typeIndex==0'>
        <span>类型:{{workArray[workActiveIndex]?.name}}</span>
        <ion-icon name="arrow-down"></ion-icon>
        <div class="type_item">
            <ion-list>
                <ion-item *ngFor="let item of workArray; let i=index" [class.checkedItem]='i === workActiveIndex' (click)='workClick(i)'>
                    <ion-label>{{item.name}}</ion-label>
                    <p class="num" item-content>{{item.num?'('+item.num+')':''}}</p>
                </ion-item>
            </ion-list>
        </div>
    </div>
    <div class="type"  (click)='fixClick(1)' *ngIf='timeArray' [class.checked]='typeIndex==1'>
        <span>类型:{{timeArray[timeActiveIndex]?.name}}</span>
        <ion-icon name="arrow-down"></ion-icon>
        <div class="type_item">
            <ion-list>
                <ion-item *ngFor="let item of timeArray; let i=index" [class.checkedItem]='i === timeActiveIndex' (click)='timeClick(i)'>
                    <ion-label>{{item.name}}</ion-label>
                    <p class="num" item-content>{{item.num?'('+item.num+')':''}}</p>
                </ion-item>
            </ion-list>
        </div>
    </div>
    <div class="type"  (click)='fixClick(2)' *ngIf='orderArray' [class.checked]='typeIndex==2'>
        <span>类型:{{orderArray[orderActiveIndex]?.name}}</span>
        <ion-icon name="arrow-down"></ion-icon>
        <div class="type_item">
            <ion-list>
                <ion-item *ngFor="let item of orderArray; let i=index" [class.checkedItem]='i === orderActiveIndex' (click)='orderClick(i)'>
                    <ion-label>{{item.name}}</ion-label>
                    <p class="num" item-content>{{item.num?'('+item.num+')':''}}</p>
                </ion-item>
            </ion-list>
        </div>
    </div>
</section>