page-mymess {
    ion-list {
        margin-top: .833333rem!important;
        span {
            color: #999;
        }
        .label{
            font-size: 1.25rem
        }
        span{
            font-size: 1.25rem
        }
        ion-avatar{
            margin: 0!important;
        }
        .input-wrapper{
            justify-content: space-between
        }
    }
    city-picker{
        margin-left: 1.25rem;
        color: #999
    }
}