page-pro-detail {
    .period_title {
        height: 4.166667rem;
        display: flex;
        align-items: center;
        font-size: 1.166667em;
        background-color: #fff;
        border-bottom: 1px solid $border_color;
        color: #000;
        span {
            flex: 1;
            text-align: center
        }
    }
    ion-list {
        margin: 0!important;
        .item-block {
            min-height: 5rem!important;
            p {
                margin-left: 1.25rem
            }
        }
    }
}