page-pro-detail {
    .period_title {
        height: 4.166667rem;
        display: flex;
        align-items: center;
        font-size: 1.166667em;
        background-color: #fff;
        border-bottom: 1px solid $border_color;
        padding:0 15px;
        color: #000;
        span {
            flex: 1;
            text-align: center
        }
    }
    .pro-item {
        height: 60px;
        padding: 0 30px;
        background-color: #fff;
        border-bottom: 0.55px solid #e8e8e8;
        .title{
            font-size: 1.25rem;
            display: inline-block;
            line-height: 2.5rem;
        }
        .item-content{
            font-size: 11px;
            line-height: 2.5rem;
            display: flex;
            width: 100%;
            justify-content: space-between
        }
    }
}