<ion-header>

    <ion-navbar>
        <ion-title>在岗情况</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <date-picker  (dateEmit)='selectDay($event)'></date-picker>
    <section class="term_daily_graph" padding>
        <round-range width='90' raduis='10' color='#3aad1d' [process]="process"></round-range>
        <div class="graph_type">
            <div><span class="type_color ccc"></span><span>未在岗</span><span class="num">{{attencePeople?.notIn.notInCount}}</span></div>
            <div><span class="type_color blue"></span><span>在岗</span><span class="num">{{attencePeople?.isIn.isInCount}}</span></div>
        </div>
    </section>
    <section class="daily_people">
        <div class="daily_list_title">
            不在岗人员({{attencePeople?.notIn.notInCount}}人)
        </div>
        <ion-list *ngIf='attencePeople'>
            <ion-item *ngFor="let item of attencePeople?.notIn.notInList">
                <ion-avatar item-start >
                    <img *ngIf='item.head' src={{item.head}} alt="">
                    <avatar *ngIf='!item.head' name={{item.name}}></avatar>
                </ion-avatar>
                <h4>{{item.name}}</h4>
                <button item-end ion-button outline color='bingjia'>{{changeAttenceStatus(item.status)}}</button>
            </ion-item>
        </ion-list>
    </section>
    <section class="daily_people">
        <div class="daily_list_title">
            在岗人员({{attencePeople?.isIn.isInCount}}人)
        </div>
        <ion-list *ngIf='attencePeople'>
            <ion-item *ngFor="let item of attencePeople?.isIn.isInList">
                    <ion-avatar item-start >
                            <img *ngIf='item.head' src={{item.head}} alt="">
                            <avatar *ngIf='!item.head' name={{item.name}}></avatar>
                        </ion-avatar>
                        <h4>{{item.name}}</h4>
                        <button item-end ion-button outline color='bingjia'>{{changeAttenceStatus(item.status)}}</button>
            </ion-item>
        </ion-list>
    </section>
</ion-content>