page-forget-password {
    .forget_password {
        margin-top: .833333rem
    }
    .input{
        border: none;
        outline: none;
        line-height: 2.5rem;
        color: #333;
    }
    input::-webkit-input-placeholder{
        color: #ccc
    }
}