page-work-desk {
    .content {
        background-color: #fff;
    }
    .work_desk_slide {
        height: 9.583333rem;
        .slide-zoom,
        img {
            width: 100%;
            height: 100%;
        }
    }
    .custom-pagination.swiper-pagination-bullet {
        width: .666667rem;
        height: .166667rem;
        border-radius: .083333rem;
        background-color: #999;
        display: inline-block
    }
    .custom-pagination.swiper-pagination-bullet-active {
        background-color: #fff;
    }
    .work_desk_function {
        height: 7.5rem;
        display: flex;
        .funtion {
            width: 33.3%;
            text-align: center;
            img {
                margin-top: .666667rem;
                width: 4.166667rem;
                height: 4.166667rem;
            }
            p {
                margin-top: .416667rem;
                font-size: 1.083333rem;
                color: #666;
            }
        }
    }
    .blank {
        width: 100%;
        height: .833333rem;
        background-color: #f5f5f5;
    }
    .work {
        .title {
            line-height: 2.916667rem;
            text-indent: 1.25rem;
            font-size: 1.25em;
            color: #333;
        }
        ion-row+ion-row {
            ion-col {
                border-top: none
            }
        }
        ion-col {
            border: 1px solid #f5f5f5;
            height: 5.416667rem;
        }
        ion-col+ion-col {
            border-left: none;
        }
        .num {
            font-size: 1.666667em;
            color: #333;
            margin: .5rem 0;
        }
        .intr {
            font-size: 1.166667em;
            margin: 0;
            color: #666;
        }
        .red {
            color: #ef0000;
        }
        .blue {
            color: #29b4ff
        }
        .orange {
            color: #fdb87a;
        }
        .green {
            color: #3aad1d
        }
    }
    .work_desk_myStart {
        ion-col:nth-child(2n+1) {
            border-right: none;
            line-height: 5.416667rem;
        }
        ion-col {
            img {
                width: 2.916667rem;
                vertical-align: middle
            }
        }
        .termwork_num {
            margin: .6rem 0;
            .active {
                font-size: 1.666667em;
            }
            .num_small {
                font-size: 1.25em
            }
        }
    }
}