// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #29b4ff, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, kim:#ffb914, dark: #222, twitter: ( base: #55acee, contrast: red));
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
$border_color: #f0f0f0;
// tab
$tabs-ios-tab-padding-top: 1px;
$tabs-ios-tab-padding-bottom: 0;
// toolbar
$toolbar-ios-height: 50px;
$toolbar-md-height: 50px;
$toolbar-ios-title-text-color: #fff;
$toolbar-md-title-text-color: #fff;
$toolbar-ios-button-font-size: 1.583333em;
// item
$item-ios-body-text-font-size: 1.166667em;
$item-ios-paragraph-font-size: 1.083333em;
$item-ios-paragraph-text-color: #999;
$item-md-body-text-font-size: 1.166667em;
$item-md-paragraph-text-color: #999;
$item-md-font-size:1.083333em;
$item-ios-padding-right: 15px;
$item-ios-padding-left: 15px;
// label
$label-ios-text-color: #999;
// content
$content-ios-outer-background: #f5f5f5;
// segment
$segment-button-ios-background-color-activated: #fff;
$segment-button-ios-text-color:#fff;
$segment-button-ios-toolbar-button-height: 2.5rem;
$segment-button-ios-border-width: 0.5px;
$segment-button-md-text-color-activated: #16233a;
// sheetaction
$action-sheet-ios-border-radius: 3px;
$action-sheet-ios-button-min-height: 4.166667rem;
$action-sheet-ios-button-text-color: #29b4ff;
$action-sheet-ios-button-font-size: 1.25em;
$action-sheet-ios-border-color: #f5f5f5;
// input
$text-input-placeholder-color: #ccc;
// button
$button-ios-height: 3.75rem;
$button-ios-font-size: 1.25em;
// popover
$popover-ios-width: auto;
$popover-ios-border-radius: .333333rem;
$popover-ios-arrow-background:#16233a;
$popover-ios-background:#16233a