<!--
  Generated template for the TermDailyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>团队日报</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <date-picker (dateEmit)='selectDay($event)'></date-picker>
    <section class="term_daily_graph" padding>
        <round-range width='90' raduis='10' [process]='process'></round-range>
        <div class="graph_type">
            <div><span class="type_color ccc"></span><span>未上交</span><span class="num">{{people?.notHandIn.notHandInCount}}</span></div>
            <div><span class="type_color blue"></span><span>已上交</span><span class="num">{{people?.handIn.handInCount}}</span></div>
        </div>
    </section>
    <section class="daily_people">
        <div class="daily_list_title">
            未交
        </div>
        <ion-list *ngIf='people'>
            <ion-item *ngFor="let item of people?.notHandIn.notHandInList; let i=index" >
                    <ion-avatar item-start >
                            <img *ngIf='item.head' src={{item.head}} alt="">
                            <avatar *ngIf='!item.head' name={{item.name}}></avatar>
                        </ion-avatar>
                <h4>{{item.name}}</h4>
                <button item-end ion-button disabled='true'>{{changeStatus(item.status)}}</button>
            </ion-item>
        </ion-list>
    </section>
    <section class="daily_people">
        <div class="daily_list_title">
            已交
        </div>
        <ion-list *ngIf='people'>
            <ion-item *ngFor="let item of people?.handIn.handInList; let i=index" (click)='goPage(item.empId)'>
                    <ion-avatar item-start >
                            <img *ngIf='item.head' src={{item.head}} alt="">
                            <avatar *ngIf='!item.head' name={{item.name}}></avatar>
                        </ion-avatar>
                <h4>{{item.name}}</h4>
                <button item-end ion-button disabled='true'>{{changeStatus(item.status)}}</button>
            </ion-item>
        </ion-list>
    </section>
</ion-content>