<!--
  Generated template for the MeetingDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar >
       
      <ion-title>详情</ion-title>
      <!-- <ion-buttons end>
          <button ion-button (click)='onSubmit(form, $event)' >保存</button>
        </ion-buttons> -->
    </ion-navbar>
    <ion-toolbar>
      <ion-segment [(ngModel)]='segment'>
        <ion-segment-button value="dymanic">
          动态
        </ion-segment-button>
        <ion-segment-button value="detail">
          会议详情
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
      <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]='enabled'>
          <ion-refresher-content
            refreshingSpinner="circles"
          >
          </ion-refresher-content>
        </ion-refresher>
    <div [ngSwitch]='segment'>
      <div *ngSwitchCase='"dymanic"' #dymanic>
          <div class="chat_item" *ngFor="let item of chatList">
              <avatar *ngIf='!item?.initatorEmp?.photo' name={{item?.initatorEmp?.name}}></avatar>
              <img class="head" *ngIf='item?.initatorEmp?.photo' src={{item?.initatorEmp?.photo}} alt="">
              <div *ngIf='!item?.attach' class="chat_content">{{item?.contents}}</div>
              <div *ngIf='item?.attach' class="chat_content_img" (click)='requireModal(item)'>
                <img src="{{item?.attach}}" alt="">  
              </div>
            </div>
      </div>
      <div *ngSwitchCase='"detail"'>
        <form [formGroup]='form' (submit)='onSubmit(form, $event)'>
          <ion-list>
            <ion-item *ngIf='data?.name'>
              <ion-label>
                <p>名称</p>
              </ion-label>
              <span class="content-item" item-content>{{data.name}}</span>
              <span class="status_btn" item-end>{{data.status==1?'进行中':'完成'}}</span>
            </ion-item>
            <ion-item *ngIf='data?.remark'>
              <ion-label>
                <p>描述</p>
              </ion-label>
              <ion-input formControlName='remark' value={{data.remark}}></ion-input>
            </ion-item>
            
            <fujian-formcontrol formControlName='attach'></fujian-formcontrol>
  
            
              <ion-item *ngFor="let pic of attach; let i=index">
                <ion-label>
                  <img class="attach_img"  item-end src={{pic}} alt="">
                </ion-label>
                <img class="add" item-end src="assets/imgs/work-desk/download.png" (click)='attachDel(i)' alt="">
              </ion-item>
     
            <initalmember-formcontrol  [person]='data?.initatorEmp' [addIf]='false'></initalmember-formcontrol>
            <initalmember-formcontrol formControlName='zhujiangren' [person]='data?.mainPersonEmp' title='主讲人'></initalmember-formcontrol>
            <initalmember-formcontrol formControlName='canhuiren' [people]='data?.empList' multiple='true' title='参会人'></initalmember-formcontrol>
            <ion-item style="margin-top: 10px">
              <ion-label>会议时间</ion-label>
              <span style='margin-left:15px' item-content>{{data?.time}}</span>
              <img class="create_add" item-end src="assets/imgs/work-desk/icon_date.png" alt="">
            </ion-item>
            
            <div class="work_divier" style='margin-top:10px'>
              <span>成果&检查项</span>
              <img item-end class="add" src="assets/imgs/work-desk/add.png" (click)='createrequire()' alt="">
            </div>
            <ion-list>
                <ion-item-sliding *ngFor="let item of requireList; let i=index">
                  
                  <ion-item class="reuire_list">
                    <p class="reuire_title">{{item.name}}</p>
                    <div class="reuire_content" *ngIf='item.attachName'>
                        
                            <img class="add" src="assets/imgs/work-desk/icon_document.png" alt="">
                      
                          <div>
                              <span>{{item.attachName}}</span>
                              <span>{{item.updateTime}}</span>
                          </div>
                    </div>
                  </ion-item>
                 
                  <ion-item-options side="right">
                    <button ion-button color="danger" (click)="delRequire(item.id,index)">删除</button>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-list>

          <div class="work_divier" style='margin-top:10px'>
            <span>子事务</span>
            <img item-end class="add" src="assets/imgs/work-desk/add.png" (click)='createzishiwu()' alt="">
          </div>
          <ion-list >
              <ion-item-sliding *ngFor="let item of zishiwuList; let i=index">
                  <ion-item style="border:none">
                    <ion-label>
                      <span>{{item?.name}}</span>
                      <p class="item_sliding_p">
                        <span>{{item?.mainPersonEmp?.name}}</span>
                        <span>剩余{{item?.surplusDays}}天</span>
                        <span>已完成{{item?.progress}}%</span>
                      </p>
                    </ion-label>
                  </ion-item>
                  <ion-item-options side="right">
                    <button ion-button color="danger" (click)="del(item.id,i)">删除</button>
                  </ion-item-options>
                </ion-item-sliding> 
          </ion-list>
          </ion-list>
         
        </form>
      </div>
    </div>
  </ion-content>
  <ion-footer *ngIf='segment=="detail"&&initatorIf'>
    <button ion-button type="button" class="submitBtn" (click)='endPlanz()' full style="margin:0">关闭</button>
</ion-footer>
<ion-footer *ngIf='segment=="dymanic"'>
    <form [formGroup]='form2' (submit)='ngSubmit(form2)'>
        <footer-input formControlName='submitContent'></footer-input>
    </form>
  </ion-footer>
