<!--
  Generated template for the MeetingDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>详情</ion-title>
    </ion-navbar>
    <ion-toolbar>
      <ion-segment [(ngModel)]='segment'>
        <ion-segment-button value="dymanic">
          动态
        </ion-segment-button>
        <ion-segment-button value="detail">
          事务详情
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
    <div [ngSwitch]='segment'>
      <div *ngSwitchCase='"dymanic"'>
        <footer-input></footer-input>
      </div>
      <div *ngSwitchCase='"detail"'>
        <form [formGroup]='form' (submit)='onSubmit(form, $event)'>
          <ion-list>
            <ion-item *ngIf='data?.name'>
              <ion-label>
                <p>名称</p>
              </ion-label>
              <span class="content-item" item-content>{{data.name}}</span>
              <span class="status_btn" item-end>{{data.status==1?'进行中':'完成'}}</span>
            </ion-item>
            <ion-item *ngIf='data?.remark'>
              <ion-label>
                <p>描述</p>
              </ion-label>
              <ion-input formControlName='remark' value={{data.remark}}></ion-input>
            </ion-item>
            
            <fujian-formcontrol formControlName='attach'></fujian-formcontrol>
  
            
              <ion-item *ngFor="let pic of attach; let i=index">
                <ion-label>
                  <img class="attach_img"  item-end src={{pic}} alt="">
                </ion-label>
                <img class="add" item-end src="assets/imgs/work-desk/download.png" (click)='attachDel(i)' alt="">
              </ion-item>
     
            <initalmember-formcontrol  [person]='data?.initatorEmp' [addIf]='false'></initalmember-formcontrol>
            <initalmember-formcontrol formControlName='zhujiangren' [person]='data?.mainPersonEmp' title='主讲人'></initalmember-formcontrol>
            <initalmember-formcontrol formControlName='canhuiren' [people]='data?.empList' multiple='true' title='参会人'></initalmember-formcontrol>
            <ion-item style="margin-top: 10px">
              <ion-label>会议时间</ion-label>
              <ion-datetime displayFormat="YYYY-MM-DD HH-mm" cancelText='取消' doneText='确定' placeholder={{data?.time}} ></ion-datetime>
              <img class="create_add" item-end src="assets/imgs/work-desk/icon_date.png" alt="">
            </ion-item>
            
      
          </ion-list>
          <button ion-button class="submitBtn" type='button' (click)='close()'  *ngIf='form.pristine' full style="margin:0">关闭</button>
          <button ion-button class="submitBtn" *ngIf='!form.pristine' full style="margin:0">提交审核</button>
        </form>
      </div>
    </div>
  </ion-content>
  
