page-my-work {
    .work_fix_top {
        position: fixed;
        z-index: 9;
        top: 4.166667rem;
    }
    .sec_content {
        margin-top: 3.333333rem;
    }
    @keyframes translateY {
        0% {
            transform: translateY(-150%)
        }
        100% {
            transform: translateY(0%)
        }
    }
    .sec_content {
        .beback {
            width: 4.583333rem
        }
        ion-list ion-item {
            h4 {
                font-size: 1.166667rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden
            }
            .label{
                flex:1
            }
            p {
                font-size: 1rem;
            }
            .danger {
                color: #f53d3d
            }
            
        
            
        }
    }
}

.platform-ios .work_fix_top {
    top: 5.833333rem
}