page-my-work {
    
    @keyframes translateY {
        0% {
            transform: translateY(-150%)
        }
        100% {
            transform: translateY(0%)
        }
    }
    .topfix_toolbar{
        padding: 0;
        overflow: visible;
        contain: none;
        z-index: -1;
        min-height: 3.333333rem;
        .toolbar-background{
            background-color: #fff!important
        }
    }
    .top_toolbar{
        padding: 0;
        min-height: 3.333333rem
    }
    .sec_content {
        .beback {
            width: 4.583333rem
        }
        ion-list ion-item {
            h4 {
                font-size: 1.166667rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden
            }
            .label{
                flex:1
            }
            p {
                font-size: 1rem;
            }
            .danger {
                color: #f53d3d
            }
            
        
            
        }
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios{
        border: none
    }
}

