<!--
  Generated template for the MyWorkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>我的工作</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
 
      <fix-top [workPlate]='workPlate' [workInfo]='data' (data)='getDate($event)'></fix-top>

</ion-header>


<ion-content>
  
  <section class="sec_content">
    <ion-list *ngIf='workType==1'>
      <ion-item (click)='godetail()'>
        <ion-avatar item-start>
          <img src="assets/imgs/work-desk/shiwu.png" alt="">
        </ion-avatar>
        <h4>如果下面目中的任务如果下面目中的任务</h4>
        <p>
          <span>发起人:张三</span>&nbsp;
          <span>进度:80%(偏慢)</span>&nbsp;
          <span class="danger">剩余3天</span>
        </p>

        <img class="beback" item-end src="assets/imgs/work-desk/beback.png" alt="">
      </ion-item>
    </ion-list>
    <ion-list *ngIf='workType==2'>
      <ion-item *ngFor="let item of lists; let i=index" (click)='goPlanDetail(item.id,item.type)'>
          <ion-avatar item-start>
              <img *ngIf='item.type==1' src="assets/imgs/work-desk/week.png" alt="">
              <img *ngIf='item.type==2' src="assets/imgs/work-desk/month.png" alt="">
            </ion-avatar>
            <h3>{{item?.name}}</h3>
            <span>执行人：{{item?.mainPersonEmp?.name}}</span>
      </ion-item>
    </ion-list>
    <ion-list *ngIf='workType==3'>
      <ion-item *ngFor="let item of lists; let i=index" (click)='goPlanDetail(item.id,item.type)'>
          <ion-avatar item-start>
              <img  src="assets/imgs/work-desk/meeting.png" alt="">
            </ion-avatar>
            <h3>{{item?.name}}</h3>
            <p><span>发起人：{{item?.initatorEmp?.name}}</span><span style="margin-left:15px">主讲人：{{item?.mainPersonEmp?.name}}</span></p>
      </ion-item>
    </ion-list>
    <ion-list *ngIf='workType==4'>
      <ion-item *ngFor="let item of lists; let i=index" (click)='goPlanDetail(item.id,item.type)'>
          <ion-avatar item-start>
              <img  src="assets/imgs/work-desk/shen.png" alt="">
            </ion-avatar>
            <h3>{{item?.shenpiType}}</h3>
            <p><span>发起人：{{item?.initatorEmp?.name}}</span></p>
      </ion-item>
    </ion-list>
    <ion-list *ngIf='workType==5'>
      <ion-item *ngFor="let item of lists; let i=index" (click)='goPlanDetail(item.id,item.type)'>
          <ion-avatar item-start>
              <img  src="assets/imgs/work-desk/shiwu.png" alt="">
            </ion-avatar>
            <h3>{{item?.name}}</h3>
            <p><span>发起人：{{item?.initatorEmp?.name}}</span><span>进度{{item?.progress}}%</span><span>剩余：{{item?.surplusDays}}天</span></p>
      </ion-item>
    </ion-list>
  </section>
  <div *ngIf="backdrop" class="backdrop-div" (click)="backdropclick($event)" ontouchmove="event.preventDefault();event.stopPropagation();">
    <ion-backdrop disable-activated role="presentation" tappable style="opacity: 0.3; transition-delay: initial; transition-property: none;"></ion-backdrop>
  </div>
  <ion-infinite-scroll position='bottom' enabled='lists.length==0' threshold='10%' (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
