<!--
  Generated template for the ApplylistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>我的工作</ion-title>
    <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="topfix_toolbar">
    <applylist-selecttop 
    flag='0'
    [applyTimeCount]='applyTimeCount' 
    [thingTypeCount]='thingTypeCount'
    [applyCollect]='applyCollect' 
    [applyTypeInfo]='params'
    (data)='sortType($event)'
    (typeCountData)='updataCount($event)'></applylist-selecttop>
</ion-toolbar>
</ion-header>


<ion-content >
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
       </ion-refresher>
  <ion-item class="item_top" (click)='goPages(item)' *ngFor="let item of lists; let i=index">
    <ion-avatar item-start >
        <img *ngIf='item.type==1' src="assets/imgs/work-home/group.png" alt="">
        <avatar *ngIf='item.type==2' name={{item.name}}></avatar>
        <img *ngIf='item.type==3' src="assets/imgs/work-home/shiwu.png" alt="">
        <img *ngIf='item.type==4' src="assets/imgs/work-home/zhou.png" alt="">
        <img *ngIf='item.type==5' src="assets/imgs/work-home/yue.png" alt="">
        <img *ngIf='item.type==6' src="assets/imgs/work-home/meeting.png" alt="">
        <img *ngIf='item.type==7' src="assets/imgs/work-home/shenpi.png" alt="">
        <img *ngIf='item.type==8' src="assets/imgs/work-home/project.png" alt="">
        <img *ngIf='item.type==9' src="assets/imgs/work-home/project.png" alt="">
    </ion-avatar>
    <div style="width:100%" item-content>
        <h4 >{{item.name}}</h4>
        <p >{{item.contents}}</p>
    </div>
    <div item-end>
        <span class="time" item-end>{{item.updateTime}}</span>
    </div>
</ion-item>
<ion-infinite-scroll position='bottom' [enabled]='enabled' threshold='2%' (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" >
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>