page-create-work {
    .add {
        width: 1.75rem
    }
    ion-list {
        margin-top: .833333rem;
        .item-block {
            min-height: 4.166667rem
        }
        ion-label {
            flex: none;
        }
    }
    .person {
        width: 3.333333rem;
        height: 3.333333rem;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        margin: 0 1.25rem;
        line-height: 3.333333rem
    }
}