page-applylist {
  .topfix_toolbar{
    padding: 0;
    overflow: visible;
    contain: none;
    z-index: -1;
    min-height: 3.333333rem;
    .toolbar-background{
        background-color: #fff!important
    }
}
.top_toolbar{
    padding: 0;
    min-height: 3.333333rem
}
} 
