initalmember-formcontrol {
  .member_formcontrol{
    background-color: #fff;
    padding: 0 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.16666em;
    height: 4.166667rem;
    border: .55px solid $border_color;
    >div{
      flex: 1;
      display: flex;
      align-items: center
    }
  }
}
