<!-- Generated template for the FooterInputComponent component -->
<form action="#" (submit)='submit()'>
  <div class="footer_input" #inputcase>
    <div class="inputcase">
      <img class="yuyin icon" src="assets/imgs/attence/sound.png" alt="">
      <div class="input">
        <ion-input type="text" #input [(ngModel)]='content' name='content' (ionFocus)='inputFocus()'></ion-input>
      </div>
      <img class="face icon" src="assets/imgs/attence/icon_face.png" alt="">
      <img class="more icon" src="assets/imgs/attence/more.png" (click)='moreClick()' alt="">
    </div>
    <div class="more_input" #more *ngIf="moreShow" >
      <figure>
        <img src="assets/imgs/work-desk/camera.png" alt="" (click)='camera()'>
        <figcaption>相机</figcaption>
      </figure>
      <figure>
        <img src="assets/imgs/work-desk/takephoto.png" (click)='imgPicker()' alt="">
        <figcaption>拍摄</figcaption>
      </figure>
      <!-- <figure>
      <img src="assets/imgs/work-desk/loc.png" alt="">
      <figcaption>当前位置</figcaption>
    </figure> -->
    </div>
  </div>
</form>
