<!--
  Generated template for the WorkContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>通讯录</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-item-group *ngFor="let contact of contactArray">
        <ion-item-divider color="light">{{contact.letter}}</ion-item-divider>
        <ion-item *ngFor='let contactItem of contact.data' (click)='goPage("ContactDetailPage",contactItem.id)'>
            <ion-avatar item-start>
                <avatar name={{contactItem.name}}></avatar>
            </ion-avatar>
            <ion-label>{{contactItem.name}}</ion-label>
        </ion-item>
    </ion-item-group>
</ion-content>