select-person {
    .type_title {
        height: 4.166667rem;
        font-size: 1.25em;
        background-color: #fff;
        display: flex;
        align-items: center;
        border-bottom: .55px solid $border_color;
        ion-icon {
            color: #ccc;
            margin-right: 1.25rem
        }
    }
    .arrow {
        transition: transform 0.5s
    }
    ion-list {
        margin: 0!important;
    }
    .list-ios > .item-block:last-child{
        border-bottom: 0.55px solid $border_color;
    }
    avatar>div{
        margin: 0
    }
}