<!-- Generated template for the DatePickerComponent component -->
<div class='work_date_picker' text-center>
    <div class="datemonth">
        <span class="pre" (click)='pre()'></span>
        <div class="month">{{selectYear}}-{{selectMonth}}</div>
        <span class="next" (click)='next()'></span>
    </div>
    <ul class="week">
        <li>日</li>
        <li>一</li>
        <li>二</li>
        <li>三</li>
        <li>四</li>
        <li>五</li>
        <li>六</li>
    </ul>
    <ion-slides>
        <ion-slide *ngFor="let week of fenzuArray;let j=index">
            <ul class="week day">
                <li *ngFor="let day of week;let i=index" (click)="dayChoose(j,day)" 
                [class.today]='day.today'
                [class.active]='j===activeIndex&&day.day===selectDay'
                [class.disabled]='day.disabled'>
                    <div *ngIf="day.day">{{day.day}}</div>
                </li>
            </ul>
        </ion-slide>
    </ion-slides>
</div>