date-picker {
    .work_date_picker {
        background-color: #fff;
        border-bottom: 0.55px solid $border_color
    }
    .datemonth {
        height: 3.083333rem;
        display: flex;
        justify-content: center;
        font-size: 1.166667em;
        flex-direction: row;
        align-items: center;
        div {
            padding: 2.5rem;
            font-size: 1.166667em;
        }
        span {
            display: block;
            width: .416667rem;
            height: .833333rem;
        }
        .pre {
            background: url('../assets/imgs/attence/pre.png') no-repeat;
            background-size: 100% 100%;
        }
        .next {
            background: url('../assets/imgs/attence/next.png') no-repeat;
            background-size: 100% 100%;
        }
    }
    .week {
        display: flex;
        padding: 0;
        margin: 0;
        li {
            width: 14.28%;
            list-style: none;
            font-size: 1.083333em;
            color: #999;
        }
    }
    .week.day li div {
        color: #333;
        font-size: 15px;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        line-height: 2.5rem;
        margin: 8px auto;
    }
    .day li.active>div {
        background-color: #29b4ff;
        color: #fff;
    }
    .day li.today>div {
       border: 0.55px solid #29b4ff;
    }
    .day li.disabled>div {
        color: #ccc;
     }
}