page-contact-detail {
    .top_section {
        background-color: #16233a;
        .blank {
            width: 100%;
            height: 2.333333rem;
        }
    }
    avatar>div{
        margin: 0 auto;
        font-size: 1.75em;
    }
    .name {
        font-size: 1.75em;
        color: #fff;
        text-align: center;
    }
    .actions {
        display: flex;
        justify-content: space-around;
        margin-top: 2.083333rem;
        >div {
            text-align: center;
            .img_bg {
                width: 2.5rem;
                height: 2.5rem;
                display: inline-block
            }
            .dymanic {
                background: url(../assets/imgs/work-contact/dymanic.png)no-repeat;
                background-size: contain
            }
            .call {
                background: url(../assets/imgs/work-contact/call.png)no-repeat;
                background-size: contain
            }
            .email {
                background: url(../assets/imgs/work-contact/email.png)no-repeat center center;
                background-size: contain
            }
            a {
                display: block;
                text-decoration: none;
                font-size: 1.25em;
                color: #fff;
                margin-top: 1.25rem 0 1.666667rem;
                margin: 15px 0;
            }
        }
    }
    ion-item-group {
        .item .label {
            color: #999!important
        }
    }
}