<!--
  Generated template for the DailyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{title}}的日报</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <date-picker (dateEmit)='selectDay($event)'></date-picker>
    <blank></blank>
    <section class="_content">
        <div class="content_item">
            <div class="item_title" (click)='goPage("ChangeAttencePage")'>
                <span class="type">考勤</span>
                <span class="prag">修改考勤状态</span>
                <ion-icon name="ios-arrow-forward"></ion-icon>
                <img src="assets/imgs/work-desk/icon_kaoqin.png" alt="">
            </div>
            <div class="item_item first">
                <span class="type">病假</span>
            </div>
            <div class="item_item">
                <span>08:30:07</span>
                <span>签到</span>
                <span>杭州拱墅区祥园路33号</span>
            </div>
            <div class="item_item">
                <span>08:30:07</span>
                <span>李四将张三改为“外勤”0.5天</span>
            </div>
        </div>
        <div class="border"></div>
        <div class="content_item">
            <div class="item_title">
                <span class="type">工作记录</span>
                <span class="prag">应该完成量(1)</span>
                <span class="prag">试驾完成量(2)</span>
                <span class="prag">新超期(3)</span>
                <img src="assets/imgs/work-desk/icon_record.png" alt="">
            </div>
            <div class="item_item first">
                <span>08:30:07</span>
                <span>签到</span>
                <span>杭州拱墅区祥园路33号</span>
            </div>
            <div class="item_item">
                <span>08:30:07</span>
                <span>李四将张三改为“外勤”0.5天</span>
            </div>
        </div>
        <div class="border"></div>
        <div class="content_item">
            <div class="item_title">
                <span class="type">日报</span>
                <img src="assets/imgs/work-desk/icon_ribao.png" alt="">
            </div>
        </div>
        <div class="content_item" style="border-left:none" *ngIf='showIf'>
            <ion-textarea placeholder="请记录您的工作心得，下一步工作安排或者计划" [(ngModel)]="desc" >
            
            </ion-textarea>
            <div *ngIf='showIf' class="cleafix">
                <button ion-button clear float-right (click)='addDaily()'>提交</button>
                <button ion-button clear float-right style="color:#ccc">取消</button>
            </div>
           
        </div>
        <div class="content_item" style="border-left:none" *ngIf='!showIf'>
                <ion-textarea placeholder="请记录您的工作心得，下一步工作安排或者计划" value={{dailyContent}} >
                
                </ion-textarea>
                <div *ngIf='showIf' class="cleafix">
                    <button ion-button clear float-right (click)='addDaily()'>提交</button>
                    <button ion-button clear float-right style="color:#ccc">取消</button>
                </div>
               
            </div>
        <div *ngIf='!showIf' class="stars_">
            <span>评分：</span>
            <div>
                <img src="assets/imgs/work-desk/{{star}}.png" *ngFor="let star of starsArray; let i=index" alt="">
            </div>
        </div>
    </section>

    <div *ngIf='!showIf' class="submit_btn">
        <button ion-button full (click)='pingyue()'>评阅</button>
    </div>
    <star [trsition]='backdrop' (cb)='callback($event)' (starcb)='starcb($event)'></star>
</ion-content>