<!--
  Generated template for the ShenpiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>审批</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]='shenpiType'>
      <ion-segment-button value="3" (click)='typeChange()'>
        我的审批
      </ion-segment-button>
      <ion-segment-button value="2" (click)='typeChange()'>
        要我审批
      </ion-segment-button>
      <ion-segment-button value="1" (click)='typeChange()'>
        抄送给我
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh1($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-refresher (ionRefresh)="doRefresh2($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-refresher (ionRefresh)="doRefresh3($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <div [ngSwitch]='shenpiType'>
    <div *ngSwitchCase="'3'">
      <ion-list>
        <ion-item (click)='goDetail(item.id)' *ngFor="let item of apply3?.result; let i=index">
          <ion-avatar item-start>
            <!-- <img *ngIf='!!item?.initatorEmp.photo' src={{item?.initatorEmp.photo}} alt=""> -->
            <avatar name={{item.apply.initatorEmp.name}}></avatar>
          </ion-avatar>
          <h2 class="name">{{item.apply.initatorEmp.name}}</h2>
          <p class="intr">
            <span>{{applyType(item.apply.type,item.apply.classify)}}</span>&nbsp;&nbsp;
            <span>{{item.apply.startDate}}至{{item.apply.endDate}}</span>&nbsp;&nbsp;
            <span *ngIf='item?.money'>¥2000</span>
          </p>
          <button ion-button outline item-end color='kim'>{{applyStatus(item.apply.status)}}</button>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div [ngSwitch]='shenpiType'>
      <div *ngSwitchCase="'1'">
          <ion-list>
            <ion-item (click)='goDetail(item.id)' *ngFor="let item of apply1?.result; let i=index">
              <ion-avatar item-start>
                <!-- <img *ngIf='!!item?.initatorEmp.photo' src={{item?.initatorEmp.photo}} alt=""> -->
                <avatar name={{item.apply.initatorEmp.name}}></avatar>
              </ion-avatar>
              <h2 class="name">{{item.apply.initatorEmp.name}}</h2>
              <p class="intr">
                <span>{{applyType(item.apply.type,item.apply.classify)}}</span>&nbsp;&nbsp;
                <span>{{item.apply.startDate}}至{{item.apply.endDate}}</span>&nbsp;&nbsp;
                <span *ngIf='item?.money'>¥2000</span>
              </p>
              <button ion-button outline item-end color='kim'>{{applyStatus(item.apply.status)}}</button>
            </ion-item>
          </ion-list>
        </div>
  </div>
  <div [ngSwitch]='shenpiType'>
      <div *ngSwitchCase="'2'">
          <ion-list>
            <ion-item (click)='goDetail(item.id)' *ngFor="let item of apply2?.result; let i=index">
              <ion-avatar item-start>
                <!-- <img *ngIf='!!item?.initatorEmp.photo' src={{item?.initatorEmp.photo}} alt=""> -->
                <avatar name={{item.apply.initatorEmp.name}}></avatar>
              </ion-avatar>
              <h2 class="name">{{item.apply.initatorEmp.name}}</h2>
              <p class="intr">
                <span>{{applyType(item.apply.type,item.apply.classify)}}</span>&nbsp;&nbsp;
                <span>{{item.apply.startDate}}至{{item.apply.endDate}}</span>&nbsp;&nbsp;
                <span *ngIf='item?.money'>¥2000</span>
              </p>
              <button ion-button outline item-end color='kim'>{{applyStatus(item.apply.status)}}</button>
            </ion-item>
          </ion-list>
        </div>
  </div>
  <ion-infinite-scroll position='bottom' [enabled]='enabled1' threshold='2%' (ionInfinite)="doInfinite1($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-infinite-scroll position='bottom'  [enabled]='enabled2' threshold='2%' (ionInfinite)="doInfinite2($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-infinite-scroll position='bottom' [enabled]='enabled3' threshold='2%' (ionInfinite)="doInfinite3($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
