page-shenpi {
    .name {
        font-size: 1.25em
    }
    .intr {
        font-size: .916667em
    }
    ion-avatar {
        img {
            width: 3.333333rem;
            height: 3.333333rem;
        }
    }
}