applylist-selecttop {
  .work_fix_top {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
   
    background-color: #fff;
   // border-bottom: 1px solid $border_color;
    .item-input.item-block {
        min-height: 3.333333rem;
        font-size: 14px;
        color: #666!important;
    }
    .type {
        flex: 1;
        padding: .833333rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.166667em;
        
        ion-icon {
            margin-left: .833333rem
        }
    }
    .num {
        margin-left: 1.25rem
    }
    .type_item {
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 3.416667rem;
        left: 0;
        transform: translateY(-1500%);
        // transition: transform .5s linear;
    }
    .checked .type_item {
        animation: translateY .5s linear forwards
    }
    .checkedItem {
        background-color: #f0f0f0;
    }
}
}
